.wrap-wishlist{
    font-weight: normal;
    font-style: normal;
    font-family: "PT Sans", serif;
    font-size: 18px;
    min-height: 302px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;

}

 .wishlist-header{
    font-family: Copperplate, serif;
    font-size: 40px;
    font-weight: normal;
    font-style: normal;
}
 .delete:hover,
 .delete{
    color: #935347;
    text-decoration: underline;
}
 .counter-goods,
 .word-product,
 .count-goods{
    font-weight: normal;
    font-style: normal;
    font-family: "PT Sans", serif;
    font-size: 18px;
    color: #413332;
}

 .wishlist-icon{
    max-height: 120px;
    max-width: 72px;
    margin-right: 64px;
    padding-left: 14px;
    padding-right: 0;
}
.wishlist-descript{
    max-width: 780px;
    width: 650px;
    padding-left: 0;
    padding-right: 0;
}
 .button-area{
    padding-left: 0;
    padding-right: 0;
    float: right;
}
 .door-icon{
    margin-left: auto;
    margin-right: auto;
}
 #count-goods {
    float: right;
}
/****************** Mobile *************************************/
@media screen and (min-width: 480px) and (max-width: 768px) {
    .wrap-wishlist{
        max-width: 460px;
    }
    .wrap-wishlist .wishlist-header{
        margin-top: 50px;
    }
    .wrap-wishlist .wishlist-icon{
        max-height: 120px;
        max-width: 72px;

    }
    .wrap-wishlist .wishlist-descript{
        max-width: 210px;
        width: 210px;
    }
    .wrap-wishlist .button-area{margin-right: 23px;}
    .wrap-wishlist .door-icon{
        max-width: 70px;
        margin-right: 17px;
    }
    .wrap-wishlist .description{
        line-height: normal;
    }
    #count-goods{
        margin-top: 60px;
    }
    .circle-number {
        padding-left: 6px;
    }
}